/*引入tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*button, [type='button'], [type='reset'], [type='submit'] {*/
/*  !*-webkit-appearance: button*!*/
/*  background: none !important;*/
/*}*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*button{*/
/*  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;*/
/*}*/